@page
@model Bookstore2.Pages.OrderConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks! Your Order has been Placed. Wait a number of business days.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>